<link rel="stylesheet" href="/css/styles.css">

<section class="products">
  <h1>Productos</h1>
  {{#if error}}
    <p class="message">La página solicitada no existe.</p>
    <a href="/products" class="btn-primary">Regresar</a>
  {{else}}
    <section class="products-content">
      <article class="user-info">
        <div class="user-details">
          <h2>Bienvenido: {{user.first_name}} {{user.last_name}}</h2>
          <h3>{{user.email}}</h3>
          <p>Rol: {{user.role}}</p>
          <p class="cart-id" hidden>{{cart._id}}</p>
        </div>
        <form action="/products" method="get" class="form-search">
          <label for="query">Selecciona una Categoría</label>
          <select name="query" id="query" class="form-select">
            <option value="">Selecciona una Categoría</option>
            <option value="computadoras">Computadoras</option>
            <option value="smartphones">Smartphones</option>
            <option value="accesorios">Accesorios</option>
          </select>
          <label for="sort">Ordenar por precio</label>
          <select name="sort" id="sort" class="form-select">
            <option value="">Ordenar por precio</option>
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
          <button class="btn-primary" type="submit">Buscar</button>
        </form>
      </article>
      <article class="products-list">
        {{#each products}}
          <div class="product">
            <img src="/images/products/{{this.thumbnails.[0]}}" alt="{{this.title}}"/>
            <h3>Título: {{this.title}}</h3>
            <p>Precio: {{this.price}}</p>
            <div class="btn-container">
              <a href="/product/{{this._id}}" class="btn-primary">Detalles</a>
              <button data-id="{{this._id}}" class="btn-primary addtocart">Agregar al carrito</button>
            </div>
          </div>
        {{/each}}
      </article>
      <article class="pagination">
        {{#if pag.prevLink}}
          <a href="{{pag.prevLink}}" class="btn-primary prev-button">Anterior</a>
        {{else}}
          <a class="btn-primary prev-button disabled">Anterior</a>
        {{/if}}
        <span class="actual-page">{{pag.page}}</span>
        {{#if pag.nextLink}}
          <a href="{{pag.nextLink}}" class="btn-primary next-button">Siguiente</a>
        {{else}}
          <a class="btn-primary next-button disabled">Siguiente</a>
        {{/if}}
      </article>
    </section>
  {{/if}}

  <script src="/js/helpers.js"></script>
  <script src="/js/index.js"></script>
  <script>
    const category = '{{query}}'
    const price = '{{sort}}'
  </script>
