<div class="product-grid" id="list-products">
    {{#each listadeproductos}}
    <div class="product-card">
        <div class="product-image">
            <img src="{{thumbnail}}" alt="{{title}}">
        </div>
        <div class="product-info">
            <h2 class="product-title">{{title}}</h2>
            <p class="product-description">{{description}}</p>
            <p class="product-price">${{price}}</p>
            <a href="#" class="buy-now-btn">Comprar ahora</a>
        </div>
    </div>
    {{/each}}
</div>
