<header>
  <a href="/">Home</a>
  <h1>Products</h1>
  <div>
    {{#if isLogin}}
      <a href="/user">Bienvenido {{user.first_name}} {{user.last_name}}</a>
    {{else}}
      <a href="/login">Inicia sesión aquí</a>
    {{/if}}
  </div>
</header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/">Home</a>
        </div>
        <div class="title">
            <h1>Product <span id="pid">{{product._id}}</span></h1>
        </div>
        <div class="auth">
            {{#if isLogin}}
                <a href="/user">Bienvenido {{user.first_name}} {{user.last_name}}</a>
            {{else}}
                <a href="/login">Inicia sesión aquí</a>
            {{/if}}
        </div>
    </header>
    <main class="main">
        <section class="product">
            <figure class="product-image">
                <img src="{{product.thumbnails}}" alt="{{product.title}}" />
            </figure>
            <article class="product-details">
                <h2>{{product.title}}</h2>
                <h3 class="product-price">Prcio: ${{product.price}}</h3>
                <p class="product-description">{{product.description}}</p>
            </article>
        </section>
        <aside class="next-menu">
            <form action="" method="put" class="form">
                <label for="quantity">Cantidad del producto</label>
                <input type="number" id="quantity">
                <button type="button" class="submit" onclick="addToCart()">Agregar</button>
            </form>
        </aside>
    </main>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/product.js"></script>
</body>
</html>

